$background-color-header: #E1FF8F;
$background-color-games: rgb(32, 32, 39);
$background-color-footer: rgb(189, 237, 53);
$color-text: #202027;
$color-white: rgb(255, 255, 255);
$color-black: #000000;